<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
   <ion-list ng-repeat="data in inventoryDtls">
   <div id="id_prod_search_list">
   <li class="item">
   <div class="panel panel-default">
   <div class="panel-body">
   <a onclick="app.getStoreDetail(&quot;01352&quot;,&quot;product&quot;);" href="javascript:void(0);" class="block-link"></a>
   <h3>{{data.itemName}}</h3>
   <h4>Item #: <span>{{data.longICN}}</span></h4>
   <ul><li>{{data.details[0]}}</li><li>{{data.details[1]}}</li><li>{{data.details[2]}}</li><li>{{data.details[3]}}</li><li>APPL#</li></ul>
   <div class="panel-footer box-row"><span class="col col-60 price">{{data.price|currency}}</span>
   <span class="col distance"><i class="icon icon-location"></i>{{data.distance}} mi</span>
   </div>
   </div>
   </div>
   </li>
   </div>
  </ion-content>
</ion-view>
