/* Common class
	==========================================================================  */

.hide {
	display: none;
}
.small {
	font-size: .75em;
}
/* Float clear */
.clear {
	clear: both;
	height: 0;
	line-height: 0;
}
.clearfix:before, .clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}
.clearfix:after {
	clear: both;
}
.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/* Position */

.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.text-center {
	text-align: center
}
.noscroll {
	height: 100%;
	overflow: hidden;
}
/* Icons
   ======================================= */

.icon {
	display: inline-block;
	position: relative;
}
.iconfb {
	width: 41px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid #5373b5;
}
.iconfb:after {
	content: "";
	position: absolute;
	right: -2px;
	height: 100%;
	width: 1px;
	border-left: 1px solid #2c4376;
}
.user-icon {
	background: url(../images/user-icon.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 18px;
}
.email-icon {
	background: url(../images/email-icon.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.age-icon {
	background: url(../images/age-icon.png) no-repeat;
	background-size: contain;
	width: 19px;
	height: 19px;
}
.icon-search {
	background: url(../images/icon-search-white.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.icon-zipcode {
	background: url(../images/zip-icon.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.city-icon {
	background: url(../images/icon-city.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.state-icon {
	background: url(../images/icon-state.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.icon-plus {
	background: url(../images/icon-plus.png) no-repeat;
	background-size: contain;
	width: 24px;
	height: 24px;
}
.icon-minus {
	background: url(../images/icon-minus.png) no-repeat;
	background-size: contain;
	width: 24px;
	height: 24px;
}
.icon-nearyou {
	background: url(../images/icon-near-you.png) no-repeat;
	background-size: contain;
	float: left;
	margin-right: 7px;
	width: 20px;
	height: 20px;
}
.icon-current-location {
	background: url(../images/icon-current-location-white.png) no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	margin-right: 7px;
	position: relative;
	top: 3px;
}
.icon-location {
	background: url(../images/icon-location.png) no-repeat;
	background-size: contain;
	width: 11px;
	height: 16px;
}
.icon-male {
	background: url(../images/icon-male.png) no-repeat;
	background-size: contain;
	width: 21px;
	height: 21px;
	top: 3px;
	position: relative;
	margin-right: 8px;
}
.icon-female {
	background: url(../images/icon-female.png) no-repeat;
	background-size: contain;
	width: 21px;
	height: 21px;
	top: 3px;
	position: relative;
	margin-right: 8px;
}
.icon-list-arrow {
	background: url(../images/icon-list-arrow.png) no-repeat;
	background-size: contain;
	width: 8px;
	height: 15px;
}
.register-switch-input:checked + .register-switch-label .icon-female, .register-switch-label-active .icon-female {
	background: url(../images/icon-female-white.png) no-repeat;
	background-size: contain;
	width: 21px;
	height: 21px;
}
.register-switch-input:checked + .register-switch-label .icon-male, .register-switch-label-active .icon-male {
	background: url(../images/icon-male-white.png) no-repeat;
	background-size: contain;
	width: 21px;
	height: 21px;
}
.icon-ok {
	background: url(../images/icon-ok.png) no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}
.icon-remove {
	background: url(../images/icon-remove.png) no-repeat;
	background-size: cover;
	width: 10px;
	height: 10px;
	right: 3px;
}
.icon-remove-search {
	background: url(../images/icon-remove-search.png) no-repeat;
	background-size: cover;
	width: 13px;
	height: 13px;
	margin-top: 7px;
}
.search-txt-remove {
	height: 80%;
	position: absolute;
	right: 40px;
	text-align: center;
	top: 3px;
	width: 30px;
	background: #fff;
}
/* Master screen >> Header
   ======================================= */

.bar-header {
	min-height: 65px;
	background: url("../images/glow-header.png") no-repeat center -20px #145ab4;
	background-size: cover;
	position: fixed;
	z-index: 99;
	top: 0;
	padding: 12px 8px;
}
.bar-header .title {
	bottom: 0;
	color: #fff;
	font-size: 1.408em;
	line-height: 1.4em;
	font-weight: 700;
	left: 44px;
	margin: 20px 2px 16px;
	min-width: 30px;
	position: absolute;
	right: 44px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.bar .title a {
	color: #fff;
}
.bar-header .logo {
	position: relative;
	top: 3px;
	width: 135px;
}
.bar-header .back-button {
	background: url(../images/back-btn.png) no-repeat center left;
	background-size: contain;
	border: 0;
	bottom: 20px;
	color: #fff;
	display: inline-block;
	height: 21px;
	position: absolute;
	text-align: center;
	width: 21px;
}
.bar-header .close-button {
	background: url(../images/close-button.png) no-repeat center left;
	background-size: contain;
	border: 0 none;
	bottom: 17px;
	color: #fff;
	display: inline-block;
	height: 18px;
	position: absolute;
	right: 10px;
	text-align: center;
	width: 18px;
	cursor: pointer;
}
.bar-header .share-button {
	background: url(../images/share-btn.png) no-repeat;
	background-size: cover;
	border: 0 none;
	border-radius: 0;
	bottom: 19px;
	color: #fff;
	display: inline-block;
	height: 27px;
	margin-right: 2px;
	position: absolute;
	right: 8px;
	text-align: center;
	width: 20px;
}
/*.browser-ios .bar-header{min-height: 85px;}*/

/* Master screen >> Footer
   ======================================= */
.bar-footer {
	background-color: #245889;
	bottom: 0;
	color: #fff;
	height: 50px;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 99;
}
.bar-footer .box-row {
	list-style: none;
	margin: 0;
	padding: 0;
}
.bar-footer li {
	background: #29649b;
	background: linear-gradient(to bottom, #29649b 0%, #245889 100%);
	padding: 0;
	height: 49px;
}
.bar-footer li a {
	color: #fff;
	-moz-box-flex: 1;
	color: inherit;
	display: block;
	flex: 1 1 0;
	font-size: .625em;
	font-weight: 400;
	height: 100%;
	max-width: 250px;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bar-footer .count {
	background: #e51a29;
	border-radius: 30px;
	position: absolute;
	right: 50%;
	margin-right: -25px;
	top: -2px;
	padding: 2px;
	width: 16px;
	height: 16px;
}
.bar-footer li .active-nav {
	background: #1b446b;
	background: linear-gradient(to bottom, #1b446b 0%, #193e60 100%);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) inset;
	height: 50px;
}
.tab-item.tab-item-active {
	opacity: 1;
}
.bar-footer li a span {
	display: block;
	text-align: center;
	margin: 6px 0 2px;
	position: relative;
}
.bar-footer li a span img {
	height: 24px;
}
/* First screen login/signup
   ========================================================================== */
.login-wrapper {
	background: url(../images/bg-login.jpg);
	background-size: cover;
}
.logo-login {
	padding: 64px 0 36px;
	text-align: center;
}
.logo-login img {
	max-width: 204px;
}
.logo-signin {
	padding: 40px 0 10px;
	text-align: center;
}
.logo-signin {
	position: relative;
}
.logo-signin .back-button {
	background: url(../images/back-btn.png) no-repeat center left;
	background-size: contain;
	border: 0;
	bottom: 20px;
	color: #fff;
	display: inline-block;
	height: 21px;
	left: 11px;
	position: absolute;
	text-align: center;
	width: 21px;
}
.logo-signin h1 img {
	width: 135px;
}
.login-wrapper .page-title {
	color: #fff;
	font-size: 1.1em;
	padding: 13px 0 12px;
}
.login-wrapper .content-wrapper {
	padding: 0 16px;
}
.login-wrapper .input-group-addon {
	background-color: #fff;
	box-shadow: none inset;
	border-radius: 2px 0 0 2px;
	width: 28px;
}
.login-wrapper .form-control-feedback {
	right: 10px;
	top: 12px;
}
.login-wrapper .loginform .box-row .col:first-child {
	padding-left: 0;
	margin-left: -7px;
}
.login-wrapper .loginform .box-row .col:last-child {
	padding-right: 0;
	margin-right: -7px;
}
.login-wrapper .form-control {
	padding-right: 30px;
	padding-right: 35px;
}
.login-wrapper #id_signin_email {
	padding-right: 5px;
}
.login-wrapper input[type="email"] {
	border-radius: 2px;
}
.login-wrapper .input-fields-group .form-control {
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	padding-right: 5px;
}
.login-wrapper .signin-form.loginform {
	padding: 0 35px;
}
.login-wrapper .signin-form .form-control {
	height: 43px;
	padding-left: 34px;
}
.login-wrapper .signin-form.loginform .email-icon {
	top: 2px;
	left: 2px;
}
.msg-error {
	background-color: #f2dede;
	background: -moz-linear-gradient(top, #f2dede, #e7c3c3);
	background: -ms-linear-gradient(top, #f2dede, #e7c3c3);
	background: -webkit-linear-gradient(top, #f2dede, #e7c3c3);
	background: -o-linear-gradient(top, #f2dede 0%, #e7c3c3 100%);
	border-color: #dca7a7;
	border-radius: 4px;
	color: #a94442;
	font-size: 13px;
	margin: 5px 0 0;
	padding: 10px;
}
/* Sign in property
   ========================================================================== */
.signin-form .form-group {
	margin-bottom: 34px;
}
.signin-form .box-row {
	margin-bottom: 8px;
	margin-top: 2px;
}
.signin-form .login-btn-row {
	padding-bottom: 10px;
	position: relative;
}
p.find-store {
	font-size: 14px;
	color: #fff;
	margin: 0 auto 15px;
	text-align: center;
	width: 60%;
}
.loginform .login-btn-row .btn-link {
	top: 3px;
	position: relative;
	font-size: 1em;
}
.login-btn-row {
	padding: 10px 0 15px;
	text-align: center;
}
.login-seperator-text {
	color: #fff;
	font-size: 0.875em;
	min-width: 20px;
	text-align: center;
}
.login-wrapper .loginform {
	padding: 0 20px;
	position: relative;
}
.loginform a {
	color: #fff;
}
.loginform a.btn-link {
	text-decoration: underline;
}
.loginform .box-row span {
	border-bottom: 1px solid #fff;
	display: block;
	margin-top: 3px;
}
.sociallogin.form-footer {
	margin-top: 130px;
}
/* Sign up screen
   ========================================================================== */
.page-title {
	color: #262626;
	font-size: 1.063em;
	font-weight: 600;
	margin: 0;
	padding: 19px 0 27px;
	text-align: center;
}
.title-user {
	border-bottom: 1px solid #cccece;
	padding-bottom: 10px;
	margin: 0 9px 10px;
}
.signup-form .form-panel {
	background: #fff;
	border-radius: 4px;
	padding: 1px 0 0;
}
.signup-form .form-control {
	padding-left: 35px;
	padding-right: 15px;
}
.signup-form .form-group, .signup-form .btn-group {
	border-bottom: 1px solid #d4d4d4;
	padding: 2px 12px 1px;
}
.signup-form .btn-group {
	padding: 1px 12px 5px;
}
.signup-form .form-row {
	padding: 6px 12px 5px;
	margin: 0;
	border-radius: 4px;
}
.signup-form .form-row label.small {
	line-height: 1.2em;
}
.signup-form #id_phone_group {
	border-bottom: 0;
	border-radius: 0 0 2px 2px;
	padding-bottom: 13px;
}
.signup-form .phone_group .form-control {
	padding-left: 3px;
	padding-right: 1px;
}
.login-wrapper .signup-form .phone_group #id_phone_remove, .login-wrapper .signup-form .phone_group #id_phone_ok {
	right: 10px;
	top: 22px;
}
.signup-form #id_phone_group .small {
	margin-top: 12px;
}
.login-wrapper .signup-form .form-control-feedback {
	top: 15px;
}
.login-wrapper .signup-form .form-control-feedback.icon-remove {
	top: 17px;
}
.login-wrapper .signup-form .icon-remove {
	right: 14px;
}
.signup-form .btn-primary {
	max-width: 200px;
	margin: 0 auto;
}
.signup-form .form-footer {
	color: #fff;
}
.signup-form .form-footer .btn {
	margin-top: 23px;
}
.signup-form p a {
	color: #67c4ff;
	font-weight: 600;
}
.form-row {
	border-bottom: 1px solid #dde0e0;
	margin: 0 0 10px;
	padding: 10px 0 23px;
}
.form-footer {
	margin: 30px 0 20px;
	padding-bottom: 10px;
}
.form-footer p {
	font-size: 11px;
	line-height: 1.2em;
	margin: 0 auto;
	text-align: center;
	width: 73%;
}
.form-footer .form-group {
	border: 0;
}
.form-footer .btn-primary {
	border-color: #1f699a;
}
/* Content property
   ========================================================================== */
.page-wrap {
	min-height: 100%;
}
.page-wrap:after {
	content: "";
	display: block;
}
.has-header {
	position: relative;
	top: 65px
}
.has-footer {
	min-height: 200px;
	padding-bottom: 50px
}
.content-wrapper {
	padding: 0 20px;
}
/* Item blocks for invetory and search list page
   ========================================================================== */
.item {
	width: 100%;
}
.item > a {
	display: block;
}
.item {
	background-color: #fff;
	border-color: #cbcfcf;
	border-style: solid;
	border-width: 1px 0 0 0;
	color: #707070;
	display: block;
	font-size: 16px;
	margin: -1px;
	position: relative;
	z-index: 2;
}
.item a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item-content {
	color: inherit;
	display: block;
	text-decoration: none;
	border: medium none;
	padding: 16px 55px 15px 30px;
	position: relative;
	z-index: 2;
}
.item-icon-left {
	padding-left: 54px;
}
.item-icon-left .icon, .item-icon-right .icon {
	display: block;
	text-align: center;
}
.sub-nav-list .item {
	border-color: #cbcfcf;
	margin-top: 0;
}
/* panel blocks for stores and store details pages
   ========================================================================== */
.panel {
	background: #fff;
	border-radius: 4px;
	margin-bottom: 5px;
	overflow: hidden;
	border: 1px solid #dbdbdb;
}
.panel-body {
	padding: 15px;
	position: relative;
}
.block-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
}
.panel-footer {
	border-top: 1px solid #d4d4d4;
	padding: 10px 0;
	margin-top: 10px;
}
.panel-body li {
	font-size: .75em;
	margin: 0 0 10px;
}
.panel-body li::before {
	content: "-";
	display: inline-block;
	margin-right: 5px;
}
.panel-body h3, .panel-body h3 a {
	color: #2a2a2a;
	font-size: 1.125em;
}
.store-address {
	padding: 15px 12px;
}
/* Store result
   ========================================================================== */

.store-result .item {
	border-bottom: 1px solid #c3c6c6;
}
.head {
	background: #eaf4ff;
}
.store-result .panel-title {
	background: #fff;
	padding: 6px 13px 7px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.store-result .panel-title h3 {
	color: #272727;
	margin: 0;
	font-size: .875em /* 14px*/
}
.wrap {
	padding: 8px 13px 5px;
}
.wrap:nth-of-type(1) {
	padding: 11px 13px 7px;
}
.wrap .panel {
	border-radius: 8px;
	border: 1px solid #e3e3e3;
	box-shadow: 0 -1px 1px #f0f0f0;
	margin-bottom: 3px;
}
.panel-row {
	display: table;
	width: 100%;
	padding: 13px 18px;
}
.panel-row.contactpanel {
	padding: 18px
}
#id_tel_panel .contactpanel.small {
	font-size: 0.875em;
}
.panel-row address {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3em;
	color: #676767;
	font-size: 0.875em;
}
.panel-row .contact-number {
	color: #676767;
	display: table-cell;
	vertical-align: middle;
	font-size: 0.875em;
}
.wrap .panel .panel-icon {
	display: table-cell;
	vertical-align: middle;
	padding-right: 18px;
	width: 62px;
}
.wrap .panel .panel-icon img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.wrap .panel-service {
	margin-bottom: 15px;
}
.panel-service .panel-row {
	padding: 10px 8px;
}
.panel-row li {
	margin: 0;
	padding: 0 0 8px;
	font-size: 12px;
	color: #707070;
}
.panel-row ul li:last-child {
	padding: 0;
}
.panel-row hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #dadada;
	margin: 1em 0;
	padding: 0;
}
.share-address {
	border-bottom: 1px solid #dedede;
	color: #676767;
	font-size: .98em;
	padding: 15px 12px 12px;
	line-height: 1.3em;
}
/* Home Screen
   ========================================================================== */
.home .item, .offers .item {
	margin: 0;
	border: 0;
}
.offers .item {
	margin-top: 1px;
}
.home .item a, .home #slideshow, .offers .item a {
	line-height: .5em;
}
/* home page banner */
#slideshow, .banner-home {
	position: relative;
}
#slideshow .swiper-slide {
	text-align: center;
	width: 100%;
}
#slideshow .swiper-slide img, .content-wrap .item img {
	max-width: 100%;
	min-width: 100%;
}
#bannerNav {
	bottom: 10px;
	left: 50%;
	margin-left: -27px;
	overflow: hidden;
	position: absolute;
	z-index: 9;
}
#bannerNav a {
	background: url(../images/nav_cycle.png) no-repeat no-repeat 0px -16px;
	float: left;
	height: 16px;
	margin-right: 5px;
	text-indent: -9999px;
	width: 14px;
}
#bannerNav a.activeSlide {
	background: url(../images/nav_cycle.png) no-repeat 0 0;
}
.content-wrap {
	background-color: #fff;
	position: relative;
	z-index: 20;
}
.swiper-pagination {
	text-align: right;
	padding-right: 10px;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
}
.swiper-pagination-bullet {
	background: #949494;
	opacity: 1;
	transition: background-color 0.5s ease;
}
.swiper-pagination-bullet-active {
	background: #fff;
}
.swiper-container-horizontal > .swiper-pagination {
	line-height: 1em;
}
.swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
	margin: 0 4px;
}
/* Inventory
   ========================================================================== */
.search-bar {
	position: relative;
	padding: 7px 13px 8px;
	right: 0;
	width: 100%;
	background: url(../images/search-box-bg.gif);
}
.search-bar .item-input-wrapper {
	position: relative;
	padding: 0;
	font-size: 1.09em;
	display: block;
}
.search-bar .button-clear {
	position: absolute;
	right: 0;
	top: 0;
	max-height: 100%;
	border-radius: 0 3px 3px 0;
	padding: 0 8px;
	z-index: 12;
	min-width: 40px;
}
.search-bar .button-clear .icon-search {
	margin-top: 6px;
}
.undo-search {
	font-size: 11px;
	line-height: 28px;
}
.item-input-wrapper {
	padding-right: 8px;
	padding-left: 8px;
	background: #eee;
}
.item-input-wrapper input {
	height: 32px;
	line-height: 20px;
	padding-left: 10px;
	border: 0;
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #c5c5c5 inset;
	line-height: 24px;
	height: 32px;
	width: 100%;
}
.item-input-wrapper input[type="search"], .item-input-wrapper input[type="text"] {
	-webkit-appearance: none;
	padding-right: 40px;
	border-radius: 5px 0 0 5px;
	outline: none
}
.item-input-wrapper input[type="text"]:disabled {
	color: #000;
	-webkit-text-fill-color: rgba(0, 0, 0, 1);
	-webkit-opacity: 1;
}
.item-input-wrapper #id_undo_btn {
	background-color: #2b4170; /* fallback color */
	background: -moz-linear-gradient(top, #e20241, #cf011c);
	background: -ms-linear-gradient(top, #e20241, #cf011c);
	background: -webkit-linear-gradient(top, #e20241, #cf011c);
	border: 1px solid #c7102b;
}
.search-field {
	display: block;
	padding-right: 39px;
	box-shadow: 1px 1px 1px #c5c5c5 inset;
	border-radius: 5px;
	background: #fff;
}
/* Invetory > Accordian panel
   ========================================================================== */
.item-toggle >li:first-child {
	border-top: 0;
}
.item-toggle .toggle {
	position: absolute;
	right: 28px;
	top: 18px;
	z-index: 3;
	cursor: pointer;
}
.item-toggle .item-content img {
	display: inline-block;
	float: left;
	width: 29px;
	margin: 0 22px 0 0;
}
.item-toggle .item-content span {
	display: block;
	line-height: 1.5em;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Invetory > instore pickup and change location bar
   ========================================================================== */
.in-store-pick {
	border-top: 1px solid #eff3f3;
	box-shadow: 0 1px 2px #e3e7e7;
	padding-bottom: 2px;
	text-align: center;
}
.near-you-bar {
	background: #fff;
	padding: 8px 13px;
	color: #606060;
	line-height: 1.2em;
}
.near-you-bar a {
	font-size: 14px;
}
.near-you-bar.pos-fixed {
	position: fixed;
	width: 100%;
	top: 65px;
	z-index: 99;
}
/* Search list
   ========================================================================== */
.item-list-search {
	padding-top: 8px;
}
.item-list-search .panel-body h3 {
	margin: 0 0 4px;
}
.item-list-search .panel-body h4 {
	margin: 0 0 15px;
	color: #2a2a2a;
}
.item-list-search .item {
	padding: 5px 12px;
	background: transparent;
	border: 0;
}
.item-list-search .item .panel {
	margin: 0;
}
.item-list-search .panel-footer {
	padding: 10px 0 0;
}
.ser-list {
	position: relative;
}
.ser-list a.readtoggle {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 8px 0 2px 5px;
	text-decoration: underline;
	font-size: 12px;
	line-height: 1.2em;
	z-index: 99;
}
.ser-list ul {
	max-height: 35px;
	overflow: hidden;
	padding-right: 20px;
}
.ser-list ul.max-data {
	max-height: none;
}
.price {
	color: #e81605;
	font-size: 1.625em;
	font-weight: 300;
	padding: 5px 1px 0 0;
}
.distance {
	text-align: right;
	position: relative;
	top: 1px;
	font-size: 12px;
	padding: 7px 0 0;
}
.distance .icon-location {
	top: 2px;
	position: relative;
	margin-right: 2px;
}
/* Store list
   ========================================================================== */
.store-list .panel {
	border-radius: 8px;
}
.store-list .panel-body {
	padding: 10px 30px 10px 17px;
}
.store-list .distance {
	float: right;
}
.store-list h3 {
	color: #df0235;
	margin: 0 0 5px;
}
.store-list address, .search-list .panel-row address {
	color: #606060;
	font-size: 0.875em;
	line-height: 1.4em;
	padding: 0 0 4px;
}
.store-list .icon-list-arrow {
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 15px;
}
/* Location not found message
   ========================================================================== */
.location {
	width: 25%;/* 80px*/
	margin: 0 auto;
	padding-top: 44px;
	padding-bottom: 28px;
	text-align: center;
}
.location-note {
	width: 62%;/* 189px*/
	margin: 0 auto;
	text-align: center;
	color: #2a2a2a;
	font-size: 0.938em;
	line-height: 1.3em;
}
/* Offer details 
   ========================================================================== */
.special-offer-banner {
	text-align: center
}
.special-offer-banner img {
	min-width: 100%;
}
.special-offer .panel-body {
	padding: 20px 28px;
	color: #262626;
	border: 0;
	background: #fff;
}
.special-offer .panel-body h3 {
	color: #000;
	font-weight: 600;
	font-size: 1em;
	margin: 0 0 15px;
	line-height: 1.2em;
}
.special-offer p {
	font-size: .785em;
	line-height: 1.2em;
}
.special-offer .btn-row {
	padding: 34px 0 35px;
}
.special-offer .terms-row {
	padding: 33px 0 10px;
}
.special-offer .btn-row .btn-default {
	font-size: 1.095em;
}
.barcode-wrap {
	border-top: 1px solid #cccece;
}
.barcode-body {
	max-width: 255px;
	margin: 30px auto 25px;
	font-weight: 600;
	text-align: center;
}
.barcode-body p {
	text-align: center;
	margin: 18px 0;
	color: #000;
	font-size: 1.071em;
}
.barcode-body p strong {
	color: #7d7d7d;
}
.overlay {
	background: url("../images/fancybox_overlay.png");
	display: none;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
/*.overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	z-index: 111;
	opacity: .6;
}*/

.share-popup {
	background: none repeat scroll 0 0 rgb(255, 255, 255);
	bottom: -30%;
	display: none;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 1111;
}
.share-title {
	border-bottom: 1px solid #dedede;
	padding: 18px 12px 15px;
	color: #000;
	font-weight: 600;
}
.email-btn {
	padding: 30px 0 32px;
	margin: 0 auto;
	max-width: 198px;
}
.email-btn .email-icon {
	background: url(../images/email-icon-white.png) no-repeat;
	background-size: contain;
	width: 27px;
	height: 17px;
	display: inline-block;
	margin-right: 7px;
	position: relative;
	top: 2px;
}
.share-footer {
	padding: 13px 12px 16px;
	background: #e6e6e6;
	color: #5190cd;
	border-top: 1px solid #cdcdcd;
	font-weight: 600;
	font-size: 0.938em;
}
/* Store details
   ========================================================================== */
.days-time {
	border-bottom: 1px solid #d4d4d4;
	padding: 5px 0 0;
}
.days-time li {
	display: inline-block;
	padding-left: 3%;
	font-size: 13px;
	min-width: 12%;
}
.days-time li:first-child {
	padding-left: 13px;
}
.days-time li a {
	color: #707070;
	display: block;
	line-height: 2.2em;
}
.days-time li a.active {
	color: #e81d1d;
	border-bottom: 1px solid #e81d1d;
}
.start-close {
	overflow: hidden;
}
.start-close-left, .start-close-right {
	padding: 8px 18px 6px;
}
.start-close-left span, .start-close-right span {
	display: block;
	font-size: 18px;
	font-weight: 300;
	color: #454545;
}
.start-close-right {
	border-left: 1px solid #e4e4e4;
	padding-right: 25px;
}
.start-close-left span:first-child, .start-close-right span:first-child {
	padding-bottom: 3px;
	font-size: 10px;
	color: #707070;
}
/* Change location
   ========================================================================== */
.change-location {
	background: #fff;
	padding: 0;
	position: fixed;
	bottom: -100%;
	width: 100%;
	z-index: 110;
	height: 100%;
	left: 0;
}
.change-location form {
	background: #fff;
}
.change-location .bar-header {
	position: relative;
}
.change-location .title-bar {
	background: #fff;
	color: #606060;
	line-height: 1.2em;
	border-bottom: 1px solid #c0c0c0;
	padding: 12px 13px 12px 25px;
}
.change-location .near-you-bar a {
	color: #3478c3;
	font-weight: 300;
	font-size: 1.094em;
}
.change-location .form-group {
	border-bottom: 1px solid #d4d4d4;
	padding: 0 18px;
}
.change-location .form-group p {
	color: #3478c3;
	padding: 12px 6px 5px;
}
.change-location .form-footer {
	margin: 20px 0 20px;
	padding: 0 30px 10px;
}
.change-location .form-footer .btn-block-row {
	margin: 25px 0 10px;
}
.change-location .form-panel {
	padding: 0 1px;
}
.change-location .item {
	padding: 10px 12px;
}
.change-location .item a {
	overflow: visible;
}
/* Privacy modal 
   ========================================================================== */
   
.privacy {
	font-size: 12px;
}
.privacy h3 {
	font-weight: 600;
	margin: 10px 0 15px;
	text-decoration: underline;
	color: #000;
	font-size: 16px;
}
.privacy h4 {
	font-weight: 600;
	margin: 0 0 15px;
	color: #000;
	font-size: 12px;
}
.privacy p {
	font-size: 12px;
	line-height: 1.3em;
	margin: 0 0 12px;
}
.privacy .margin-t20 {
	margin-top: 20px;
}
.privacy .margin-b5 {
	margin-bottom: 5px;
}
.privacy strong {
	font-weight: 600;
	color: #000;
}
.privacy ul {
	list-style: none;
	margin: 10px 0 15px 30px
}
.privacy li {
	padding: 0 0 5px;
	list-style:outside disc;
}
.italic-strong {
	font-weight: 600;
	font-style: italic;
}
.privacy h4.font-large {
	font-size: 15px;
}
/* Loader
   ========================================================================== */
.loader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	left: 0;
	top: 0;
	/*background: rgba(255, 255, 255, 0.3);*/
	background: url("../images/overlay.png");
	display: none;
}
.loader img {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	margin-left: -10px;
}
.loader-wrapper {
	margin: 50px 0;
	text-align: center;
}

/* iPhone below 5:*/
@media screen and (device-aspect-ratio: 2/3) {
.logo-login {
	padding: 46px 0 36px;
	text-align: center;
}
.logo-signin {
	padding: 30px 0 10px;
	text-align: center;
}
}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
.sociallogin.form-footer {
	margin-top: 110px;
}
}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 667/375) {
.days-time li {
	padding-left: 15px;
}
}

/*iPhone 6 Plus:*/
@media screen and (device-aspect-ratio: 16/9) {
.days-time li {
	padding-left: 18px;
}
}
